.content {
    padding: 10px;
}
.posts {
    margin-top: 10px;
}
.addPost {
    width: 70px;
    height: 20px;
    cursor: pointer;
    border: 1px solid black;
    transition: all .4s;
    border-radius: 5px;
}
.addPost:hover {
    background-color: #7e57c2;
    border: 1px solid black;
    border-radius: 5px;

}
textarea {
    resize: none;
}