.nav {
    grid-area: n;
    background-color: #b4b4b4;
    padding: 20px;
}
.item {
    padding-bottom: 5px;
}
.item a {
    text-decoration: none;
    color: white;
}
.item a.active {
    color: gold;
    font-weight: bold;
}