.app-wrapper {
  margin: 0 auto;
  width: 1300px;
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: #3c639c;
}

.nav {
  grid-area: n;
  background-color: #3b9c5d;
}

.content {
  grid-area: c;
  background-color: #3f3f9b;
}
.content img {
  width: 900px;
  height: 500px;
}

.header img {
  width: 60px;
  height: 60px;
}