.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem a {
    text-decoration: none;
    color: black;
    padding-left: 8px;
}

.item {

}

.item img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 100%;
}

.dialogsItem .active {
    color: gold;
    font-weight: bold;
}

.messages {
    padding: 10px;
}

.message {

}

.addMessageBlock {
    padding: 10px;
}

.addMessage {
    width: 70px;
    height: 35px;
    cursor: pointer;
    border: 1px solid black;
    transition: all .4s;
    border-radius: 5px;
}
.addMessage:hover {
    background-color: #7e57c2;
    border: 1px solid black;
    border-radius: 5px;

}